<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <title> پی اس کد  </title>
    <base href="">
    <meta name="googlebot" content="index,follow">
    <meta name="robots" content="noodp,noydir">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/bootstrap.rtl.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/FontAwsome/all.css">
    <link rel="stylesheet" type="text/css" href="~/Content/OwlCarousel/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/OwlCarousel/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css">
 
    <script src="~/Scripts/Jquery/jquery-3.6.0.min.js"></script>

</head>
<body>
    <script src="~/Scripts/modernizr.js"></script>
    <div class="top-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-7 col-xs-7 right-nav">
                    <!-- Clientarea and Basket -->
                    <div class="clientarea">
                        <ul>
                            @Html.Partial("_Account")
                            <li><a href=""><i class="fa fa-shopping-bag"></i> سبد خرید <span>10</span></a></li>
                        </ul>
                    </div>
                    <!-- End Clientarea and Basket -->
                </div>
                <div class="col-md-6 col-sm-5 col-xs-5 left-nav mt-2">
                    <!-- Social -->
                    <div class="socials">
                        <ul>
                            <li><a href="" class="social-icon" data-balloon=" اینستاگرام " data-balloon-pos="down"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="" class="social-icon" data-balloon=" لینکداین " data-balloon-pos="down"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="" class="social-icon" data-balloon=" فیس بوک " data-balloon-pos="down"><i class="fab fa-facebook-square"></i></a></li>
                            <li><a href="" class="social-icon" data-balloon=" تلگرام " data-balloon-pos="down"><i class="fa fa-paper-plane"></i></a></li>
                            <li><a href="" class="social-icon" data-balloon=" توئیتر " data-balloon-pos="down"><i class="fab fa-twitter-square"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Social -->
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- Start Header-->
    <header class="header-site">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 logo-layer">
                    <a href="" class="logo"><img src="../Image/psCodeResize.png"></a>
                    <h1>فروشگاه <span>آنلایــــــن</span> </h1>
                    <h2>پی اس کد</h2>
                </div>
                <div class="col-md-5 col-sm-5 left-header-site">
                    <h5> پشتیبانــــی 24 ساعتـــــه </h5>
                    <h3> 09059621619 <i class="icon-phone"></i></h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </header>
    <!-- End Header-->
    <!-- Mega Menu -->
    <nav class="mega-menu">
        <div class="container">

            <span class="responsive-list"><i class="fas fa-bars"></i></span>
            <ul>
                <li><a href=""> منوی شماره یک </a></li>
                <li><a href=""> منوی شماره دو </a></li>
                <li><a href=""> منوی شماره سه </a></li>
                <li><a href=""> منوی شماره چهار </a></li>
                <li><a href=""> منوی شماره پنج </a></li>
                <li><a href=""> منوی شماره شیش </a></li>
                <li><a href=""> منوی شماره هفت </a></li>
            </ul>

            <!-- Search -->
            <div class="form-search">
                <span><i class="fa fa-search"></i></span>
                <form action="" method="get">
                    <input type="text" placeholder=" جستجو کنید ..." class="border-radius">
                    <button type="submit" class="border-radius"> جستجو </button>
                </form>
            </div>
            <!-- End Search -->

        </div>
    </nav>


    @RenderSection("Slider",false)


    <div class="container mt-4">
        <div class="row">
            <aside class="col-md-3 col-sm-4 right-side-content">
                <!-- Basket -->
                
                    @RenderSection("Cart", false)
               
                <!-- End Basket -->
                <!-- compare -->
              
                 @RenderSection("Comparisonlist",false)
                
                <!-- End compare -->
                <!-- Category -->
               @Html.Action("ShowGroups", "Product", new {area = ""})
                <!-- End Category -->
                <!-- Category -->
                <!-- End Category -->
            </aside>
            <div class="col-md-9 col-sm-8 left-side-content ">

                @RenderBody()


            </div>
            <div class="clearfix"></div>
        </div>
    </div>



    <!--Footer-->
    <footer>
        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <section class="col-lg-4 col-md-4 permalink-section">
                        <header><h3> دسترسی سریع </h3></header>
                        <article>
                            <ul>
                                <li><a href=""> صفحه اصلی </a></li>
                                <li><a href=""> ورود به سایت </a></li>
                                <li><a href=""> عضویت در سایت </a></li>
                                <li><a href=""> قوانین سایت </a></li>
                                <li><a href=""> راهنمای خرید </a></li>
                                <li><a href=""> سوالات متداول </a></li>
                                <li><a href=""> ورود به سایت </a></li>
                                <li><a href=""> عضویت در سایت </a></li>
                            </ul>
                        </article>
                    </section>
                    <section class="col-lg-4 col-md-4 permalink-section">
                        <header><h3> لینک های مفید </h3></header>
                        <article>
                            <ul>
                                <li><a href="">پرسش های متداول پرسش های متداول </a></li>
                                <li><a href="">پرسش های متداول پرسش های متداول </a></li>
                                <li><a href="">پرسش های متداول </a></li>
                                <li><a href="">پرسش های متداول </a></li>
                                <li><a href="">پرسش های متداول پرسش های متداول </a></li>
                                <li><a href="">پرسش های متداول </a></li>
                                <li><a href="">پرسش های متداول پرسش های متداول </a></li>
                                <li><a href="">پرسش های متداول </a></li>
                            </ul>
                        </article>
                    </section>
                    <section class="col-lg-4 col-md-4 contact-section">
                        <header><h3> تماس با ما </h3></header>
                        <article>
                            <p><i class="fas fa-map-marker-alt"></i> نشانی : تبریز جاده سنتو کوی بهشتی پلاک 78 </p>
                            <p><i class="fa fa-volume-control-phone"></i> 09059621619 </p>
                            <p><i class="fa fa-envelope"></i> pouriasadeghi18@gmail.com</p>

                        </article>
                    </section>
                </div>
            </div>
        </div>

        <div class="bottom-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-6">
                        <ul>
                            <li><a href=""> خانه </a></li>
                            <li><a href="">قوانین سایت </a></li>
                            <li><a href=""> درباره ما </a></li>
                            <li><a href=""> تماس با ما </a></li>
                        </ul>
                        <p>Ⓒ تمام حقوق مادی ومعنوی این سایت متعلق به " <a href=""> پی اس کد </a> " می باشد.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="social-layer">
                            <a href="" class="border-radius"><i class="fab fa-facebook-square"></i></a>
                            <a href="" class="border-radius"><i class="fab fa-linkedin"></i></a>
                            <a href="" class="border-radius"><i class="fab fa-twitter-square"></i></a>
                            <a href="" class="border-radius"><i class="fab fa-google-plus-square"></i></a>
                            <a href="" class="border-radius"><i class="fa fa-paper-plane"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--End Footer-->


        <script src="~/Scripts/BootstrapJS/bootstrap.min.js"></script>
        <script src="~/Scripts/BootstrapJS/bootstrap.bundle.min.js"></script>>
      
        <script src="~/Scripts/FontAwsomeJS/all.js"></script>
        <script src="~/Scripts/Own.CarouselJS/owl.carousel.min.js"></script>
        <script src="~/Scripts/Script.js"></script>
        @RenderSection("Scripts", false)
</body>



</html>